<div class="container mt-4">
    <h3>Welcome To Dashboard</h3>
</div>


<form action="" method="get" name="myForm" id="myForm">
    Choose Country <select name="country" id="countrySel">
        <option value="" selected="selected">Select</option>
    </select>
   Choose State <select name="state" id="stateSel">
        <option value="" selected="selected">Select</option>
    </select>
    Choose City <select name="city" id="citySel">
        <option value="" selected="selected">Select</option>
    </select>
</form>



